<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings">
      <input type="text" name="listing[title]" placeholder="Title" required/>
      <br/><br/>
        <textarea name="listing[description]" placeholder="Description" required></textarea>
        <br/><br/>
        <input name="listing[image]" placeholder="enter image URL/LINK">
        <br/><br/>
        <input type="number" name="listing[price]" placeholder="Price" required/>
        <br/><br/>
        <input type="text" name="listing[location]" placeholder="Location" required/>
        <br/><br/>
        <input type="text" name="listing[country]" placeholder="Country" required/>
        <br/><br/>
        <button>Create Listing</button>
    </form>
</body>
</html>