<% layout ("/layouts/boilerplate") %>
<div class="row">
    <div class="col-6 offset-3"> <br><br/>
        <h2>Login To Wanderlust </h2>
        <form action="/login" method="POST" class ="needs-validation" novalidate   ><br><br/>
           
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" required><br>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required><br>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>